# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Секреты и переменные окружения (Критично для безопасности!)
.env
.env.local
.env.*.local

# Vite-специфичные файлы
dist
dist-ssr
*.stats.html

# Если будете использовать инструменты тестирования
coverage/

# Кэш сборщика
.eslintcache
.stylelintcache
